.rightIcons { 
    display: flex;
     gap: 1rem; 
     
}

.empty_bag-icon {
    position: relative;
    width: 4rem;
    height: 5rem;
    
}

 

 .bag-container {
    position: relative;
    width: 50px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.bag-count {
      position: absolute;
    top: 52%;
    left: 50%;
    transform: translate(-50%, -50%); 
     border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: black;
    font-size: 12px;
    pointer-events: none;
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 700;
}

 
.bag-container.filled .bag-count {
    background: black;
    color: white;
}

#bagIcon {
    pointer-events: auto;
    position: relative;
    z-index: 99999;
}
