#bigButtons {
    width: 100%;
    height: 134px;
    display: inline-flex;
    justify-content: space-evenly;
    padding-top: 3px;
}

#bigButtons button {
    width: 131px;
    padding-top: 1rem;
    padding-bottom: 0.75rem;
    border: 1px solid #EDE8E5;
    background-color: #C67500;
    display: inline-flex;
    flex-direction: column;
    align-items: center;
}

button:hover {
    background-color: #FECB00;
}

h6 {
    margin: auto;
    color: #EDE8E5;
    line-height: 1rem;
}